<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="InjectExtensions" value="TestControl.Extension.Example.dll"/>
    <add key="WebDriverExtensions" value="TestControl.Extension.Selenium.dll"/>
    <add key="AppArgs" value="--remote-debugging-port=57575"/>
  </appSettings>
</configuration>